/*EKE'S CSS BELOW:*/
body {
    padding: 50px;}

.viz-container {
    width: 1240px;
    min-height: 736px;
    border: 1px solid;
    float: left;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:40px;
    padding: 70px;
    }

.viz-container h1 {
    font-size: 30px;
    font-weight: bold;
    background: #645f5f;
    }

/*rows of the income vs private graph */
.data-container {
    margin-top: 3px;
    float: left;
    clear: both;
    width: 100%;
    position: inherit;
    background: white;
    }

.income-bar, .private-bar {
    height: 20px;
    margin-top: 26px;
    margin-right: 0 px;
    background: repeating-linear-gradient(
  90deg,
  #D9AE68,
  #D9AE68 10px,
  #8A5B0F 10px,
  #8A5B0F 20px
);
    border-radius: 2px;}

.income-bar {
    float: right;
    background: repeating-linear-gradient(
  -90deg,
  white,
  white 10px,
  grey 10px,
  grey 20px
);}

.bar-holder, .state-holder {
    display: inline-block;
    overflow: visible;
    height: 45px;}

.bar-holder {
    width: 45%;}

.state-holder {
    width: 10%;
    text-align: center;
    font-size: 20pt;
    font-weight: bold;}

.legend {
    font-size: 15pt;
    font-weight: bold;
    position: relative;
    top: 15;
    margin-bottom: 0px;}

/*KARA'S CSS BELOW*/

path {
  stroke: gray;
  stroke-width: 5;
  fill: none;}

.axis path, .axis line {
	fill: none;
	stroke: #52089d;
    color: #52089d;
	stroke-width: 1;
	shape-rendering: auto;}

.tooltip {
	background: #eee;
	box-shadow: 0 0 5px #999999;
	color: #52089d;
	font-size: 12px;
	left: 130px;
	padding: 10px;
	position: absolute;
	text-align: center;
	top: 95px;
	z-index: 10;
	display: block;
	opacity: 5;}

.title{
font-size:55px;
}

