body {
    padding: 50px;
}

#plot1, #plot2, #plot3 {
    width: 414px;
    height: 736px;
    border: 1px solid;
    float: left;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:40px;
}

#plot2 canvas, #plot3 canvas  {
    width: 100%;
    height: 100%;
}

span {
   font-family: Arial;
   font-size: 16px; 
   color: white;
    border: 1px solid;
   text-align: left;
   margin: auto;
}
li {
   line-height: 20px; 
}

span #eartxt {
   position: fixed;
   bottom: 0;
   right: 0;
   margin: 30px;
   display: none; 
}

@keyframes visibility {
   from {visibility: hidden;}
   to {visibility: visible;}
}

#earth {
   position: relative;
   top: 210px;
   left: 230px;
   height: 38px;
   width: 38px;
   background: black;
   border-radius: 50% 50% 50% 50%;
}

#ourmoon {
    position: relative;
    height: 10px;
    width: 10px;
    border-radius: 50% 50% 50% 50%;
    background-color: gray;
    animation-name: moonorbit;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


@keyframes moonorbit {
   0% {top: 137px;
       left: 365px;}
   10% {top: 139px;
       left: 362px;
       z-index: -1;}
   20% {top: 140px;
       left: 357px;
       z-index: -1;}
    30% {top: 141px;
       left: 340px;
       z-index: -1;}
    40% {top: 142px;
       left: 325px;
       z-index: -1;}
    50% {top: 142px;
       left: 310px;
       z-index: -1;}
    60% {top: 142px;
       left: 315px;
       z-index: 1;}    
    70% {top: 141px;
       left: 325px;
       z-index: 1;}
    80% {top: 140px;
       left: 340px;
       z-index: 1;} 
    90% {top: 139px;
       left: 357px;
       z-index: 1;}
    100% {top: 137px;
       left: 365px;
       z-index: 1;}
}

div#earth:hover {
   border: 3px solid hsla(190,80%,80%,.8);
   transform: scale(1.2, 1.2);
}
