body {
    padding: 50px;}

figure {
    display: inline-block;}

img{
    max-width: 100%
    height: auto
    position: relative}

.line {
    width: 411px;
    height: 15px;
    background-color: black;
    position: relative;}

.line2 {
    width: 411px;
    height: 4px;
    background-color: rgba(95, 93, 93, 0);
    margin-top: 420px;
    margin-left: 230px;
    position: absolute;}

.line3 {
    width: 411px;
    height: 4px;
    background-color: rgba(95, 93, 93, 0.49);
    margin-top: 525px;
    position: absolute;}

#mobile1,#mobile2 {
    width: 414px;
    height: 736px;
    border: 3px solid;
    float: left;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:40px;
    position: relative;}

#tempsection, #humiditysection{
    height: 49%;
    width : auto;}

#tempsection img{
    max-height: 100%;
    width: 100%;}

#hum1{
    height: 70%;
    width : 100%;
    position: absolute;
    z-index: -1;
    margin-top: 25px;
    margin-left: 15px;}
#hum2{
    height: 70%;
    width : 100%;
    position: absolute;
    z-index: -1;
    margin-top: 93px;
    margin-left: 15px;}
#hum3{
    height: 70%;
    width : 100%;
    position: absolute;
    z-index: -1;
    margin-top: 175px;
    margin-left: 15px;}
#hum4{
    height: 70%;
    width : 100%;
    position: absolute;
    z-index: -1;
    margin-top: 250px;
    margin-left: 15px;}
#hum5{
    height: 70%;
    width : 100%;
    position: absolute;
    z-index: -1;
    margin-top: 323px;
    margin-left: 15px;}

#temp1{
    height: 70%;
    width : 100%;
    position: absolute;
    margin-top: 25px;
    margin-left: 15px}
#temp2{
    height: 70%;
    width : 100%;
    position: absolute;
    margin-top: 25px;
    margin-left: 90px}
#temp3{
    height: 70%;
    width : 100%;
    position: absolute;
    margin-top: 25px;
    margin-left: 164px}
#temp4{
    height: 70%;
    width : 100%;
    position: absolute;
    margin-top: 25px;
    margin-left: 238px}
#temp5{
    height: 70%;
    width : 100%;
    position: absolute;
    margin-top: 25px;
    margin-left: 312px}

#txtsection{
    position: absolute;
    margin-top: 524px;
    margin-left: 50p
    font-size: 30px;
    text-align:center;
    font-family: Fira Sans;
    height: 28.5%;
    width : 100%;
    background: rgba(95, 93, 93, 0.49);}

#humcircles, #tempcircles{
    max-width: 100%
    height: auto;
    position: absolute;}

#humiditysection img {
    height: 100%;
    width : 100%;}
